name: Scheduled Python Job

on:
  schedule:
    - cron: '0 */6 * * *' 
  workflow_dispatch: # Allows manual trigger

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: ".python-version"

    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Install the project
      run: uv sync --locked --all-extras --dev
    - name: Run the project
      run: uv run main.py
      
